<p-panel header="Numeric Pipes" class="p-1">
    <p>Pipes used in this section:</p>
    <ol>
        <li>DecimalPipe</li>
        <li>CurrencyPipe</li>
        <li>PercentPipe</li>
        <li>DatePipe</li>
    </ol>
</p-panel>

<div class="grid ">
    <div class="col-12 md:col-4">
        <p-card header="Total Sales">{{totalSells | number: '1.2-2'}}</p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Gross Sales">{{totalSells +1254546 | currency: 'MXN': 'symbol-narrow' }} MXN</p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Percentage Gain">{{percent | percent: '1.2-2' }}</p-card>
    </div>
</div>